<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-envelope"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
         COPYRIGHT©{{currentDate | date: 'yyyy'}} | BACKPACKER.COM 
        </span>
      </div>
    </div>
  </div>
</footer>