@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes ZoomInAndOut {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

input {
    font-family: "kiona" !important;
    line-height: 1;
    padding-left: 5%;
}

.form-control {
    border: none !important;
    background-color: transparent;
    padding-top: 1px;
    padding-bottom: 1px;
}

.input-group {
    border: 1px solid #0691b8;
    border-radius: 40px;
    color: #0691b8 !important;
}

.input-group-text {
    border-radius: 40px;
    background-color: #0691b8 !important;
    display: flex;
    align-items: center;
    padding: 0.65rem;
    margin-right: 0.05rem;
    line-height: 1;
    font-size: 1rem;
    margin-bottom: 0;
    font-family: "kiona" !important;
    white-space: nowrap;
    color: white;
}

.col-sm-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.custom {
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 0.5%;
    float: right;
}

.fa {
    width: auto !important;
}

.notification .badge {
    position: absolute;
    top: -5px;
    right: 15px;
    padding: 7px 10px;
    border-radius: 50%;
    background: #0691b8;
    color: white;
    font-family: "kiona" !important;
}

.tile {
    width: 100%;
    height: 120px;
    border: 1px solid #0691b8;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
}

.tile:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.tiles-section {
    padding-top: 20px !important;
}

.addToCart .favourite {
    position: absolute;
    top: 90px;
    right: 20px;
    padding: 0;
    border-radius: 50%;
    color: #0691b8;
    font-size: 20px;
    font-family: "kiona" !important;
}

.heart {
    color: #FFF;
    animation: ZoomInAndOut 0.5s;
    animation-iteration-count: infinite;
}

.heart_ {
    color: #0691b8;
    animation: ZoomInAndOut 2s;
    animation-iteration-count: infinite;
}

h4 {
    font-family: "kiona" !important;
    color: #0691b8;
    text-align: center;
    font-size: 15px;
    position: relative;
    margin-top: 2px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #0691b8;
    border: none !important;
    padding-right: 20px;
}

button {
    font-family: "kiona" !important;
    color: #FFF;
}

.custom_ {
    margin-bottom: 2%;
    margin-top: 1%;
}

.btn-round{
    background-color: #0691b8 !important;
    margin-bottom: 10px;
    float: right;
    font-family: "kiona" !important;
    border: none !important;
    transition: transform 0.2s ease-in-out;
}
.btn-round:hover{
    transform: scale(1.1);
}