<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <div class="d-inline-block custom">
        <div class="form-group">
          <div class="input-group " [ngClass]="{'input-group-focus':focus===true}">
            <input class="form-control" type="text" placeholder="Search" aria-describedby="basic-addon1" (focus)="focus=true"
              (blur)="focus=false">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon1" (click)="search()">
                <i class="fa fa-search" aria-hidden="true" height="50px" width="50px"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-inline-block custom">
        <i class="fa fa-bars" style="color:#0691b8;font-size:25px;padding-top:10px;" (click)="toggleFilter()"></i>
      </div>
      <div class="custom" [@animateFilterItems]="filterItems ? 'large' : 'small'">
        <button class="btn btn-primary btn-round custom_">Sigiriya</button>
        <button class="btn btn-primary btn-round custom_">Down South</button>
        <button class="btn btn-primary btn-round custom_">Adventure</button>
        <button class="btn btn-primary btn-round custom_">Hill Country</button>
      </div>
    </div>
  </div>
</div>
<div class="section tiles-section">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="tile">
          <span class="addToCart">
            <span></span>
            <span class="favourite"><i class="fa fa-heart" (click)="condition1=!condition1" [ngClass]="condition1 ? 'heart_' : 'heart'"></i>
            </span>
          </span>
        </div>
        <h4>Hike</h4>
      </div>
      <div class="col-md-2">
        <div class="tile">
          <span class="addToCart">
            <span></span>
            <span class="favourite"><i class="fa fa-heart" (click)="condition2=!condition2" [ngClass]="condition2 ? 'heart_' : 'heart'"></i>
            </span>
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="tile">
          <span class="addToCart">
            <span></span>
            <span class="favourite"><i class="fa fa-heart" (click)="condition3=!condition3" [ngClass]="condition3 ? 'heart_' : 'heart'"></i>
            </span>
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="tile">
          <span class="addToCart">
            <span></span>
            <span class="favourite"><i class="fa fa-heart" (click)="condition4=!condition4" [ngClass]="condition4 ? 'heart_' : 'heart'"></i>
            </span>
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="tile"></div>
      </div>
      <div class="col-md-2">
        <div class="tile"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <button type="button" class="btn btn-info btn-round" (click)="secondPage()">
        Next&nbsp;<i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>