<body>
  <div class="main-page">
      <div class="container">
          <div class="row">
              <div id="Smallchat">
                  <div class="Layout Layout-open Layout-expand">
                      <div class="Messenger_messenger">
                          <div class="Messenger_header">
                              <div class="left-container">
                                  <img src="../../../assets/images/bot_blinking.svg" alt="Icon" />
                                  <h4 class="Messenger_prompt">Edith</h4>
                              </div>
                              <div class="right-container">
                                  <div class="cart-container">
                                      <div class="ammount-container remove" id="amount-content">
                                          Rs. 8,100
                                      </div>
                                      <div class="badgeContainer">
                                          <div class="amount-badge remove" id="amount-badges">4</div>
                                          <i class="material-icons" onclick="toggleClass()">shopping_cart</i>
                                      </div>
                                  </div>

                                  <i class="material-icons dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">more_vert</i>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <li id="clear-button"><i class="material-icons">refresh</i><a href="#">Clear Chat</a></li>
                                      <li><i class="material-icons">star</i><a href="#">Rate Chat bot</a></li>
                                      <li><i class="material-icons">close</i><a href="#">Close Chat Window</a></li>
                                      <!-- <li class="bottomli"><i class="material-icons">mobile_friendly</i><a href="#">Training mode</a></li> -->
                                      <li><i class="material-icons"></i><a href="#">Chat <input class="train-btn" type="checkbox" data-toggle="toggle" data-size="xs" data-on=" " data-off=" "> Train</label></a></li>
                                  </ul>
                              </div>  

                          </div>
                          <div class="scrollable scroll-bar" id="chat-scroll">
                              <div class="Messages_list" id="message-toggle">
                                  <div class="col-md-12">
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="start-text animated fadeIn">
                                                  <small>Chat started 1 second(s) ago</small>
                                              </div>
                                          </div>
                                      </div>
                                      <div id="message-thread">
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="left-side-msg animated fadeIn">
                                                      <p>
                                                          Hello! I am Edith. I am here to help you. What do you want my help with?
                                                      </p>
                                                  </div>
                                              </div>
                                          </div>
                                          <!-- <div class="row">
                                              <div class="col-md-12">
                                                  <div class="right-side-msg animated fadeIn">
                                                      <p>How do I register for the mailing list?</p>
                                                  </div>
                                              </div>
                                          </div> -->
                                          <!-- <div class="row">
                                              <div class="col-md-12">
                                                  <div class="right-side-msg animated fadeIn">
                                                      <p>can you help me with that?</p>
                                                  </div>
                                              </div>
                                          </div> -->
                                      </div>
                                      <div class="row" id="chat-indicator">
                                          <img src="../../../assets/images/bot_blinking.svg" alt="Icon" />
                                          <span >
                                              <img src="../../../assets/images/indicator.svg" alt="Icon" style="margin-top: 10px;margin-left: 2px;" />
                                          </span>
                                      </div>
                                  </div>
                              </div>
                              <div class="Messages_list no-padding remove" id="shoping-cart-toggle">
                                  <div class="top-bar">
                                      <div class="left-container">
                                          Shopping Cart
                                      </div>
                                      <div class="right-container">
                                          <li class="list-inline-item" onclick="toggleClass()"><i class="material-icons">minimize</i>
                                      </div>
                                  </div>
                                  <div class="product-list">
                                      <div class="product-container">
                                          <img src="../../../assets/images/frock2.png" alt="">
                                          <div class="product-info">
                                              <h3>Sleeveless Dress</h3>
                                              <span>Rs.2,250</span>
                                          </div>
                                          <div class="counter">
                                              <div class="quantity">
                                                  <input type="number" min="1" max="9" step="1" value="1">
                                              </div>
                                          </div>
                                          <div class="close">
                                              <i class="material-icons">close</i>
                                          </div>
                                      </div>
                                      <div class="product-container">
                                          <img src="../../../assets/images/frock2.png" alt="">
                                          <div class="product-info">
                                              <h3>Sleeveless Dress</h3>
                                              <span>Rs.2,250</span>
                                          </div>
                                          <div class="counter">
                                              <div class="quantity">
                                                  <input type="number" min="1" max="9" step="1" value="1">
                                              </div>
                                          </div>
                                          <div class="close">
                                              <i class="material-icons">close</i>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="container">
                                      <hr>
                                      <div class="total-container">
                                          <a class="clear">Clear all</a>
                                          <div class="total-ammount">
                                              <p>Total</p>
                                              <span>Rs 8,100</span>
                                          </div>
                                      </div>
                                      <hr>
                                      <input type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btndefault" id="continue_btn"
                                          value="Checkout">
                                  </div>


                              </div>
                          </div>
                          <div class="Messenger_footer">
            <form>
                              <div class="col-md-12">
                                  <div class="row">
                                      <div class="col-9 no-padding">
                                          <div class="span6">
                                              <textarea id="emojionearea1" placeholder="Type your message here..." onkeypress="process(event,this)"></textarea>
                                          </div>
                                      </div>
                                      <div class="col-3 icons">
                                          <ul class="list-inline">
                                              <li class="list-inline-item"><i class="material-icons">camera_alt</i>
                                              </li>
                                              <li class="list-inline-item">
                        <i class="material-icons" id="send-button">send</i>
                      </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
              </form>
                          </div>
                      </div>
                  </div>
                  <!--===============CHAT ON BUTTON STRART===============-->
                  <div class="chat_on">
                      <div class="whitecircle">
                          <img src="../../../assets/images/bot_blinking.svg" alt="Icon" />
                      </div>
                  </div>
                  <!--===============CHAT ON BUTTON END===============-->

                  <!--===============CHAT ON BUTTON STRART===============-->
                  <div class="chat_close_icon">
                      <i class="material-icons">close</i>
                  </div>
                  <!--===============CHAT ON BUTTON END===============-->

              </div>
          </div>
      </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="productShowcase" tabindex="-1" role="dialog" aria-labelledby="productShowcaseLable" aria-hidden="true">
      <div class="modal-dialog modal-lg modalforcenter" role="document">
          <div class="modal-content">
              <div class="modal-body no-padding-tb">
                  <div class="row">
                      <div class="col-4 border-top-left-radius bg-grey">&nbsp;</div>
                      <div class="col-8 padding-two-top">
                          <button type="button" class="close" data-dismiss="modal" id="closebtn">
                              <i class="material-icons">close</i>
                          </button>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-4 bg-grey">
                          <div class="product-list-cards">
                              <div class="card-container">
                                  <img src="../../../assets/images/frock2.png" alt="">
                              </div>
                              <div class="card-container">
                                  <img src="../../../assets/images/frock2.png" alt="">
                              </div>
                              <div class="card-container">
                                  <img src="../../../assets/images/frock2.png" alt="">
                              </div>
                          </div>
                      </div>
                      <div class="col-8 border-bottom-left-radius padding-four-bottom height-70vh d-flex align-items-center justify-content-center">
                          <div class="row">
                              <div class="col-12">
                                  <img src="../../../assets/images/frock-large.png" alt="Frock Large" class="mx-auto d-block model-img">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modalforcenter" role="document">
          <div class="modal-content">
              <div class="modal-body no-padding-tb">
                  <div class="row">
                      <div class="col-5 border-top-left-radius bg-grey">&nbsp;</div>
                      <div class="col-7 padding-two-top">
                          <button type="button" class="close" data-dismiss="modal" id="closebtn">
                              <i class="material-icons">close</i>
                          </button>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-5 bg-grey border-bottom-left-radius padding-four-bottom height-70vh d-flex align-items-center justify-content-center">
                          <div class="row">
                              <div class="col-12">
                                  <img src="../../../assets/images/frock-large.png" alt="Frock Large" class="mx-auto d-block model-img">
                              </div>
                              <div class="col-12 text-center margin-eight-top">
                                  <label class="price-lable">
                                      Rs. 3,200
                                  </label>
                              </div>
                          </div>
                      </div>
                      <div class="col-7 margin-two-top modalfashion">
                          <div class="container">
                              <div class="inner-tab fulldetails" id="addresspanel">
                                  <h6 class="modaltitle">ADDRESS</h6>
                                  <form>
                                      <div class="row">
                                          <div class="col-4 padding-two-right">
                                              <input type="text" class="form-control" placeholder="158/1/A" />
                                          </div>
                                          <div class="col-8 padding-two-left">
                                              <input type="text" class="form-control" placeholder="Thalangama" />
                                          </div>
                                          <div class="col-12 padding-two-top">
                                              <input type="text" class="form-control" placeholder="Sri Jayawardhanapura Kotte" />
                                          </div>
                                          <div class="col-12 padding-two-top">
                                              <input type="text" class="form-control" placeholder="Colombo" />
                                          </div>
                                          <div class="col-12 padding-two-top">
                                              <input type="text" class="form-control" placeholder="Sri Lanka" />
                                          </div>
                                          <div class="col-6 padding-two-top padding-two-right">
                                              <input type="text" class="form-control" placeholder="077 123 4567" />
                                          </div>
                                          <div class="col-6 padding-two-top padding-two-left">
                                              <input type="text" class="form-control" placeholder="jondeo@example.com" />
                                          </div>
                                          <div class="col-12 padding-five-top">
                                              <input type="submit" class="btn btn-primary btndefault" id="continue_btn" value="CONTINUE" />
                                          </div>
                                      </div>
                                  </form>
                              </div>
                              <div class="inner-tab payments" id="paymentspanel" style="display: none;">
                                  <img src="../../../assets/images/paymethods.png" alt="payments methods">
                                  <form class="paymentform">
                                      <div class="row">
                                          <div class="col-10 padding-two-right">
                                              <label for="cardnumber">Card Number</label>
                                              <input type="text" class="form-control" name="cardnumber" placeholder="1234  5678  9012  3456" />
                                          </div>
                                          <div class="col-2 padding-two-left">
                                              <label for="cardnumber">CVC</label>
                                              <input type="text" class="form-control" name="cvc" placeholder="123" />
                                          </div>
                                          <div class="col-12 padding-two-top">
                                              <label for="cardholder">Card Holder Name</label>
                                              <input type="text" class="form-control" name="card Holder" placeholder="Jane Doe" />
                                          </div>
                                          <div class="col-12 padding-two-top">
                                              <p class="labeltxt">Experition Date</p>
                                          </div>
                                          <div class="col-3">
                                              <div class="selectbox">
                                                  <select class="form-control" id="selectbox" placeholder="30">
                                                      <option>1</option>
                                                      <option>2</option>
                                                      <option>3</option>
                                                      <option>4</option>
                                                      <option>5</option>
                                                  </select>
                                              </div>
                                          </div>
                                          <div class="col-6">
                                              <div class="selectbox">
                                                  <select class="form-control" id="selectbox" placeholder="February">
                                                      <option>January</option>
                                                      <option>February</option>
                                                      <option>March</option>
                                                      <option>April</option>
                                                      <option>May</option>
                                                      <option>June</option>
                                                      <option>July</option>
                                                      <option>August</option>
                                                      <option>September</option>
                                                      <option>October</option>
                                                      <option>November</option>
                                                      <option>December</option>
                                                  </select>
                                              </div>
                                          </div>
                                          <div class="col-3">
                                              <div class="selectbox">
                                                  <select class="form-control" id="selectbox" placeholder="2020">
                                                      <option>2020</option>
                                                      <option>2021</option>
                                                      <option>2022</option>
                                                      <option>2023</option>
                                                      <option>2024</option>
                                                  </select>
                                              </div>
                                          </div>
                                          <div class="col-12 padding-two-top privacytxt">
                                              <p>By clicking <b>“Complete Order”</b>, I hereby agree and consent to the User
                                                  Agreement, its policies, and the <span class="bluetxt">Privacy
                                                      Policy</span>.</p>
                                          </div>
                                          <div class="col-12 padding-five-top">
                                              <input type="submit" class="btn btn-primary btndefault" id="opensuccessmodal" value="COMPLETE ORDER (TOTAL Rs. 3,200)" data-dismiss="modal"
                                              />
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="modal fade" id="successmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modalforcenter" id="modalsmall" role="document">

          <!-- Modal Content: begins -->
          <div class="modal-content">
              <div class="modalheader">
                  <div class="floatcenter toptxt"><span>PAYMENT COMPLETE</span></div>
                  <div class="floatright">
                      <button type="button" class="close" data-dismiss="modal" id="closebtn">
                          <i class="material-icons">close</i>
                      </button>
                  </div>
              </div>
              <div class="modal-body" id="modalbox">
                  <div class="innerbox wprdinner-box success-text">
                      <div class="txtcenter">
                          <div class="sucessmsg row">
                              <div class="col-6 txtright">
                                  <img src="../../../assets/images/approvedicon.png" alt="">
                              </div>
                              <div class="col-6 txtleft">
                                  <ul>
                                      <li>Order ID : CB0020</li>
                                      <li>Jane Doe</li>
                                      <li>xxxx-xxxx-xxxx-3456</li>
                                      <li>Rs. 3200</li>
                                  </ul>
                              </div>
                          </div>
                          <div class="row">
                              <p class="col-12 border-bottom">Thank you for doing business with us! <br/> You will recieve your item in 3 days by mail</p>
                              <div class="textcenter txtcnter col-12 padding-two-top">
                                  <button type="submit" class="btn btn-primary btndefault closebtn" data-dismiss="modal">CLOSE</button>
                              </div>
                          </div>

                      </div>

                  </div>
              </div>
              <!-- Modal Content: ends -->

          </div>

      </div>
  </div>

  <!--jquery-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <!--emoji-->
  <script src="./assets/js/app.js"></script>
  <script src="./assets/js/emojionearea.js"></script>
  <script>
      $(document).ready(function () {
          $("#emojionearea1").emojioneArea({
              pickerPosition: "top",
              filtersPosition: "bottom",
              tonesStyle: "radio",
              autocomplete: true,
              inline: true,
              hidePickerOnBlur: false,
      events: {
        keyup: function (editor, event) {
            
            // console.log(this.getText());
          if (event.which == 13) {
                          $("#emojionearea1").data("emojioneArea").setText(this.getText());
                          $('#send-button').click();
            //alert("Enter key pressed");
            //$("#form").submit();
            
            // event.preventDefault();
            // return false;
          } else {
            //alert("Key pressed: " + event.which);
          }
        }
      }
          });
    
      });
  </script>

  <!--custom-->
  <script>
      $(document).ready(function () {

          $(".chat_close_icon").hide();
          $(".chat_on").click(function () {
              $(".Layout").show();
              $(".chat_close_icon").show();
              $(".chat_on").hide();
          });
          $(".chat_close_icon").click(function () {
              $(".Layout").hide();
              $(".chat_on").show();
              $(".chat_close_icon").hide();
          });
          $(".orderClick").click(function () {
              $(".order-btn").show();
          });
          $(".orderCancel").click(function () {
              $(".order-btn").hide();
          });

          $('html .Messenger_footer').on("click", function () {
              $('html .Messenger_header').addClass('active');
          });

          $('html #continue_btn').on("click", function (event) {
              event.preventDefault();
              $('html #addresspanel').css('display', 'none');
              $('html #paymentspanel').fadeIn('slow');
          });

          $('html #opensuccessmodal').on("click", function () {
              $('html #successmodal').modal('show');
          });

          $('html #closebtn, html #opensuccessmodal').on("click", function () {
              $('html #addresspanel').css('display', 'block');
              $('html #paymentspanel').css('display', 'none');
          });
      });
  </script>
  <script>
      $('#Male').click(function(){
              alert("Men Clicked")
              console.log("men")
              $request_json.text = '/give_gender{"gender":"Men"}'
              $('#send-button').click();
      });
              
      $('#Female').click(function(){
          alert("Women Clicked")
          console.log("women")
          $request_json.text = '/give_gender{"gender":"Women"}'
              $('#send-button').click();
          });
  </script>

  <script>
      $(function(){ $('.train-btn').bootstrapToggle() });
  </script>
</body>