<div class="section">
    <div class="container">
        <div class="tim-title">
            <h3>Sigiriya&nbsp;&nbsp;&nbsp;</h3><br>
            <!--model-->
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Downsouth</h5>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!--map-->
                <div class="modal-body" style="padding:0 !important">
                    <agm-map [latitude]="downsouthlat" [longitude]="downsouthlng" style="height: 300px; width:100%;"
                        [styles]="mapstyles" [zoom]="8" [disableDefaultUI]="false" [zoomControl]="false">
                        <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
                            <agm-marker [label]="{color: '#000',
                                                fontFamily: 'kiona',
                                                fontSize: '10px',
                                                fontWeight: 'bold',text:'Galle'}"
                                [latitude]="downsouthlat" [longitude]="downsouthlng"
                                [iconUrl]="{
                                    url: url,
                                    scaledSize: {
                                        width: 40,
                                        height: 60
                                    }
                                }"></agm-marker>
                        </agm-marker-cluster>
                    </agm-map>
                </div>
                <!--map end-->

                <div class="modal-footer">
                    <div class="left-side">
                        <button type="button" class="btn btn-default btn-link" (click)="d('Close click')">Never mind</button>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                        <button type="button" class="btn btn-danger btn-link" (click)="d('Close click')">DELETE</button>
                    </div>
                </div>
            </ng-template>
        </div>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum."
        </p><br>
        <div class="row">
            <div class="col-xs-8 col-sm-6 col-md-3">
                <a href="#" class="photo">
                    <img src="assets/img/1.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    <div class="glow-wrap">
                        <i class="glow"></i>
                    </div>
                    <h6>Sigiriya</h6>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-3">
                <a href="#" class="photo">
                    <img src="assets/img/2.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    <div class="glow-wrap">
                        <i class="glow"></i>
                    </div>
                    <h6>Sigiriya</h6>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-3">
                <a href="#" class="photo">
                    <img src="assets/img/1.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    <div class="glow-wrap">
                        <i class="glow"></i>
                    </div>
                    <h6>Sigiriya</h6>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-3">
                <a href="#" class="photo">
                    <img src="assets/img/2.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    <div class="glow-wrap">
                        <i class="glow"></i>
                    </div>
                    <h6>Sigiriya</h6>
                </a>
            </div>
        </div>
        <div id="fab-dismiss" *ngIf="fabTogglerState==='active'" (click)="onToggleFab()">
        </div>
        <div class="fab-container">
            <button mat-fab class="fab-toggler" (click)="onToggleFab()">
                <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i> <!-- Animation here -->
            </button>
            <div [@speedDialStagger]="buttons.length">
                <!-- and here -->
                <button *ngFor="let btn of buttons" mat-mini-fab class="fab-secondary" color="secondary">
                    <i class="material-icons">{{btn.icon}}</i>
                </button>
            </div>
        </div>
    </div>
</div>